

<div class="topnav">
    <a class="navbar-brand" href="/catalog">
        <div class="logo-image">
              <img src="./img-logo.png" class="img-fluid">
        </div>
  </a>
    <a href="/catalog">Catalog</a>
    <a href="/login">Login</a>
  </div>
  <br><br><br>

<div class='card'>

    <!-- <div class="grid-container">
    <div class="item1">
      


    </div> -->

    <br><br><br>
    <div>
        

            <div class="grid-container" >
    
                <div class="item1">
                    <h2>{{pageTitle}} </h2>
                    <h3>{{pageSubTitle}} </h3>
                </div>
                <div class="item2">
                    <p class = "categories">Categories</p>
                    <mat-checkbox >Optical Character Recognition</mat-checkbox><br>
                    <mat-checkbox >Prediction</mat-checkbox><br>
                    <mat-checkbox >Product Recommendations</mat-checkbox><br>
                    <mat-checkbox >Preprocessing on Data</mat-checkbox><br>
                    <mat-checkbox >Automate a Process</mat-checkbox><br>
                </div>
                <div class="item3">
                    <br>
                    <p>All Models</p>
                    <div *ngFor="let product of products">
                        <mat-card >
                            <mat-card-header>
                            
                            <mat-card-title>{{product.productName}}</mat-card-title>
                            <mat-card-subtitle>{{product.productCategoryType}}</mat-card-subtitle>
                            </mat-card-header>
                            
                            <mat-card-content>
                            <p>
                                {{product.productShortDescription}}
                            </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button class="buttonCard">
                                    <a class="textButtonCard">See Details </a> 
                                
                                <a class = "creditArrow">  &#8674;  </a>
                                        
                                <button class="creditCard">{{product.productPrice}} credits</button>
                                    
                                </button>
                            </mat-card-actions>
                        </mat-card>
                
                    </div>
                </div>

              </div>

            <!-- <div class="grid-container"> -->

            
            <!-- <div class = "item1">
            </div> -->

            <!-- <div class = "item2">
                

            </div> -->

        
            <!-- <div >
                

                <div class = "item3">
                    
            </div>
            </div>   -->
        </div> 
    </div>
<!-- </div> -->
            
     
   
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>